<head>
<style>
h1 {
    background-color: red;
}
</style>
</head>

<h1> Yougee Cooks</h1>
<!-- <ul>
    <% @cooks.each do |cook| %>
        <li>
            <strong> <%= cook.name %> </strong> - <%= cook.location %>
            <%= link_to "More info", cook_path(cook) %>

        </li>
    <% end %>
</ul> -->

<p> Welcome to Yougee Cooks, you can select produce and view all of your selects</p>

<%= link_to "Produce!", produces_path %>
