<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<h1 class="text-center"> Yougee Produce Categories</h1>


  <div>
    <% @produces.each do |produce| %>
        <div class='btn' id='elements'>
            <div id='produce'><strong> <%= produce.name %> </strong></div>
            <div class="btn btn-default" type="submit" id='see'><%= link_to "See What's Fresh!", produce_path(produce) %></div>
        </div>
    <% end %>
  </div>

<div class="text-center"><button class="btn btn-default" type="submit"><%= link_to "Home", cook_path(current_user.profile) %></button></div>
