<h1> Yougee gardeners</h1>

<ul>
    <% @gardeners.each do |gardener| %>
        <li>
            <strong> <%= gardener.name %> </strong> - <%= gardener.location %>
            <%= link_to "More info", gardener_path(gardener) %>
        </li>
    <% end %>
</ul>

<%= link_to "Post!", produceavailables_path %>
